body{
    background-image: url(table.png);
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
h1{
    color: goldenrod;
    margin-bottom: 70px;
    text-shadow: 5px 5px 5px red;
}

button{
    background-color: goldenrod;
    width: 250px;
    color: #016f32;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
    border: none;
    margin: 10px;
}
#btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
#game-screen{
    
    border: 3px dotted black;   
    width: 600px;
    height : 80vh;
    border-radius: 10px;
    margin-top: 60px;
    
}
#score-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dotted black;
    border-radius: 10px;
    width: 300px;
    padding-left: 20px;
    border-left: none;
    margin-top: 60px;
}